{% extends 'base.html.twig' %}

{% block title %}New Category - B2B Shop{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Create New Category</h1>
        
        <div class="card">
            <div class="card-body">
                {% include 'category/form.html.twig' with {'button_label': 'Create'} %}
            </div>
        </div>
    </div>
{% endblock %}
