{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'product.edit_product'|trans }} - B2B Shop{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">{{ 'product.edit_product'|trans }}</h1>
        
        <div class="card">
            <div class="card-body">
                {% include 'product/form.html.twig' with {'button_label': 'product.update'|trans} %}
            </div>
        </div>
    </div>
{% endblock %}
